[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/pocoproject/poco
    branch = clickhouse-odbc
[submodule "contrib/libcouchbase-odbc"]
	path = contrib/libcouchbase-odbc
	url = https://github.com/couchbase/libcouchbase-odbc.git
