[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/pocoproject/poco
    branch = clickhouse-odbc
[submodule "contrib/libcouchbase"]
	path = contrib/libcouchbase
	url = https://github.com/couchbase/libcouchbase.git